<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ORT_PORTAL_ABOGADOS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ORT_PORTAL_ABOGADOS.styles.css" asp-append-version="true" />
</head>
<body style="background-image: url('@Url.Content("~/images/fondo.png")');">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3" id="nav">
            <div class="container-fluid">
                <a><img src="@(Url.Content("~/images/logo.png"))" id="logo" width="80px" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color: aliceblue" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item" style="display: none">
                            <a class="nav-link" style="color: aliceblue" asp-area="" asp-controller="Abogados" asp-action="Index">Abogado</a>
                        </li>
                        <li class="nav-item" style="display: none">
                            <a class="nav-link" style="color: aliceblue" asp-area="" asp-controller="Consultas" asp-action="Index">Consulta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: aliceblue" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: aliceblue" asp-area="" asp-controller="Home" asp-action="quienesSomos">Quienes Somos</a>
                        </li>
                        <li class="nav-item" style="display: none">
                            <a class="nav-link" style="color: aliceblue" asp-area="" asp-controller="Consultas" asp-action="SolicitudesPendientes">Solicitudes Pendientes</a>
                        </li>
                        <li class="nav-item" style="display: none">
                            <a class="nav-link" style="color: aliceblue" asp-area="" asp-controller="Consultas" asp-action="ConsultasActivas">Consultas Activas</a>
                        </li>
                        <li>
                            <a class="nav-link" style="color: aliceblue" asp-area="" asp-controller="Consultas" asp-action="Crear">Solicitar Consulta</a>
                        </li>
                    </ul>

                    <a class="nav-link" style="color: aliceblue" asp-area="" asp-controller="Abogados" asp-action="Create">Registro de Abogados</a>
                    <p id="iniciarS">Iniciar Sesión -></p>
                    <img src=@(Url.Content("~/images/Usuario.png")) width="80px" id="iconoUsuario" onclick="mostrarLogin()">
                </div>
            </div>
        </nav>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </header>


    @{
        var usuario = Context.Session.GetString("Usuario");
    }
    <form id="formularioLogin" method="post" action="/Acceso/Login">
        <p id="tituloForm">Iniciar sesión</p>
        <hr>
        <input type="text" id="usuario" name="usuario" class="campo" placeholder="Mail" required><br>
        <input type="password" id="contrasena" name="password" class="campo" placeholder="Contraseña" required><br><br>
        <div style="display: flex; justify-content: space-between">
            <button type="submit" class="login-btn" id="ingresar">Ingresar</button>
            <button type="button" class="login-btn" id="cancelar">Cancelar</button>
        </div>
    </form>
    @if (usuario != null)
    {
        <div id="usuarioSesion" style="color:white; padding:10px;">
            Bienvenido, @usuario
            <a href="/Acceso/Logout" style="margin-left:10px; color:yellow;">Cerrar sesión</a>
        </div>

        <script>
            window.usuarioLogueado = true;
        </script>
    }
    else
    {
        <script>
            window.usuarioLogueado = false;
        </script>
    }

    @if (TempData["CrearExitoso"] != null)
    {
        <script>
            alert('Su consulta se ha creado correctamente.');
            window.location.href = '@Url.Action("Index","Home")';
        </script>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @if (TempData["LoginError"] != null)
    {
        <script>
            alert("@TempData["LoginError"]");
        </script>
    }

</body>
</html>
