@model List<ORT_PORTAL_ABOGADOS.Models.Consulta>

@{
    ViewData["Title"] = "Consultas Activas";
    var idUsuario = (int)ViewBag.IdUsuario;
}


</header>
<h2 style="color: black; margin-top: 50px">Consultas Activas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Consulta N#</th>
            <th>Descripción</th>
            <th>Nombre Cliente</th>
            <th>Mail Cliente</th>
            <th>Cotización Honorarios</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @{
            var contadorConsultas = 0;
            @foreach (var consulta in Model)
            {
                if (consulta.IdAbogado == idUsuario)
                {
                    contadorConsultas++;
                    <tr class="solicitud">
                        <td>@contadorConsultas</td>
                        <td><textarea readonly id="campoDescp">@consulta.Descripcion</textarea></td>
                        <td>@consulta.NombreCliente, @consulta.ApellidoCliente</td>
                        <td>@consulta.MailCliente</td>
                        <td>@consulta.Precio</td>
                        <td><button> <a asp-controller="Consultas" asp-action="FinalizarConsulta" asp-route-id="@consulta.Id">Finalizar Consulta</a></button></td>
                    </tr>
                }
            }
        }
        
    </tbody>
</table>
