@model ORT_PORTAL_ABOGADOS.Models.Consulta

@{
    ViewData["Title"] = "Finalizar Consulta";
}

</header>
<h1>Finalización de Consulta</h1>

<h3>¿Está seguro de Finalizar la Consulta?</h3>
<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaActiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaActiva)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Finalizar" class="btn btn-danger"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
